*.cover
*.egg-info
*.log
*.pyc
*.pyd
*.pyo
.DS_Store
.Python
.cache
.coverage
.coverage.*
.direnv
.envrc
.git
.github
.gitignore
.hypothesis
.markdownlint.yaml
.mypy_cache
.packer
.pre-commit-config-nix.yaml
.pre-commit-config.yaml
.pytest_cache
.python-version
.ruff_cache
.tool-versions
.tox
.vscode
Dockerfile
LICENSE.txt
Makefile
README.md
__pycache__
benchmark.py
benchmark_results.zip
benchmarking_data
benchmarking_data.zip
check_result.json
coverage.xml
docs
embeddings.zip
env
flake.lock
flake.nix
model.zip
new_benchmark
node_modules
nosetests.xml
old_benchmark
passed
pip-delete-this-directory.txt
pip-log.txt
raw_source_data
reference_data/CN2025_SelfText_EN_DE_FR.csv
reference_data/brands.csv
reference_data/extra_references.csv
reference_data/incorrect_code_desc_pairs.csv
requirements.txt
serverless.yml
target*/training_data
target.zip
tests
train.py
venv
