__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
venv
.ruff_cache
*.egg-info
raw_source_data
target*/training_data
target.zip
model.zip
embeddings.zip
.vscode
.DS_Store
old_benchmark
new_benchmark
benchmarking_data
node_modules
benchmark_results.zip
tests
.circleci
.packer
docs
README.md
